<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <style>
      .box {
        width: 100px;
        height: 100px;
        background-color: rgb(223, 121, 121);
        padding: 20px;
        margin: 10px;
        border-radius: 20px;
        color: white;
      }
    </style>
  </head>

  <body>
    <div id="app">
      {{ message }}
      <br />

      <input @keyup.enter="greet" v-model="message" />
      <br />
      <button @click="toggleTheBox">Toggle The box</button>
      <br />

      <div v-if="isVisible" class="box">Heloo this is a box</div>
      <br />

      <login-form />
    </div>

    <script src="https://unpkg.com/vue@3"></script>

    <script>
      const { createApp } = Vue;

      const app = createApp({
        data() {
          return {
            message: "Hello Vue!",
            isVisible: !true,
          };
        },

        methods: {
          toggleTheBox() {
            this.isVisible = !this.isVisible;
          },
          greet() {
            console.log(this.message);
          },
        },
      });

      app.component("login-form", {
        template: `
                    <h1>{{title}}</h1>
                   <form @submit.prevent = "handleLoginSubmit" >
                        <custom-input 
                          v-for="(input, index) in inputs"
                          :label="input.label" 
                          :type="input.type"  
                          v-model="input.value"   /> <br/>
                        <button type='submit' >Login</button>
                    </form>
                    `,

        components: ["custom-input"],

        data() {
          return {
            title: "Login Form",
            inputs: [
              {
                label: "Email",
                value: "",
                type: "email",
              },
              {
                label: "Password",
                value: "",
                type: "password",
              },
            ],
            email: "",
            password: "",
            emailLabel: "enter your email please",
            passwordLabel: "enter your password please",
          };
        },
        methods: {
          handleLoginSubmit() {
            console.log(this.inputs[0].value, this.inputs[1].value);
          },
        },
      });

      app.component("custom-input", {
        template: `
                    <div>
                        <label :for="label" >{{label}}
                        </label> <br/>
                        <input  :type="type" v-model="inputValue" :id="label" />                            
                    </div>
                `,
        props: ["label", "modelValue", "type"],
        computed: {
          inputValue: {
            get() {
              return this.modelValue;
            },
            set(value) {
              this.$emit("update:modelValue", value);
            },
          },
        },
      });

      app.mount("#app");
    </script>
  </body>
</html>
